<h1>To Do</h1>
<p>Create a new list:</p>
<form action="/" method="post">
  <label for="name1">Assign a name to your list:</label>
  <input id="name" name="name1" type="text">
  <button type="submit">Add list</button>
</form>

<!-- # <% if @list.any? %>
# <form action="/tasks" method="post">
#   <label for="list_id">Select a List</label>
#   <select id='list_id' name='list_id' type='text'>
#     <% @list.each() do |list| %>
#       <option value="<%= list.id()%>"> <%= list.name() %> </option>
#     <% end %>
#   </select>
#   <label for="description">Description of the task:</label>
#   <input id="description" name="description" type="text">
#   <button type="submit">Add task</button>
# </form>
# <% end %> -->

<% if @list.any?() %>
  <p>Click a list to see its tasks</p>
  <% @list.each() do |single_list| %>
    <a href="/list/<%= single_list.id %>"><%= single_list.name %></a>
  <% end %>
<% end %>
